@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Lato:wght@300;400;700;900&family=Noto+Sans+TC:wght@300;400;500;600;700;900&family=Noto+Serif+TC:wght@300;400;500;600;700;900&family=Poppins:wght@300;400;500;600;700;900&display=swap");
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

.wood {
  background-color: burlywood;
}

.blue {
  background-color: skyblue;
}

.red {
  background-color: rgb(189, 73, 73);
}

.pink {
  background-color: pink;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.gray {
  background-color: gray;
}

.orange {
  background-color: orangered;
}

.wrap {
  width: 100%;
  height: 100%;
  max-width: 1515px;
  padding: 0 50px;
  margin: 0 auto;
}
@media (max-width: 575px) {
  .wrap {
    padding: 0 35px;
  }
}
@media (max-width: 480px) {
  .wrap {
    padding: 0 25px;
  }
}
@media (max-width: 360px) {
  .wrap {
    padding: 0 20px;
  }
}
@media (max-width: 320px) {
  .wrap {
    padding: 0 15px;
  }
}

.titleBox > div + div {
  margin-top: 25px;
}
@media (max-width: 1180px) {
  .titleBox > div + div {
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  .titleBox > div + div {
    margin-top: 15px;
  }
}
@media (max-width: 360px) {
  .titleBox > div + div {
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .titleBox > div + div:has(.btn) {
    margin: 40px;
  }
}
@media (max-width: 480px) {
  .titleBox > div + div:has(.btn) {
    margin: 30px;
  }
}
@media (max-width: 360px) {
  .titleBox > div + div:has(.btn) {
    margin: 20px;
  }
}
.titleBox .title {
  font-family: "Cormorant Garamond";
  font-weight: 700;
  color: #2c4109;
  font-size: 45px;
}
@media (max-width: 1180px) {
  .titleBox .title {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .titleBox .title {
    font-size: 28px;
  }
}
@media (max-width: 480px) {
  .titleBox .title {
    font-size: 24px;
  }
}
.titleBox .subtitle {
  font-family: "Cormorant Garamond";
  font-weight: 700;
  color: #2c4109;
  font-size: 24px;
}
@media (max-width: 1180px) {
  .titleBox .subtitle {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .titleBox .subtitle {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .titleBox .subtitle {
    font-size: 16px;
  }
}
.titleBox .line {
  width: 35px;
  height: 2px;
  background-color: #2c4109;
}
.titleBox .text {
  line-height: 24px;
  font-family: "Cormorant Garamond";
  font-weight: 400;
  color: #2c4109;
  font-size: 16px;
}
@media (max-width: 1180px) {
  .titleBox .text {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .titleBox .text {
    font-size: 13px;
  }
}
@media (max-width: 1180px) {
  .titleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.actionBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1180px) {
  .actionBox {
    justify-content: center;
  }
}

.btnBox .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 160px;
  height: 45px;
  background-color: #2c4109;
  transition: all 0.3s ease-in-out;
  font-family: "Cormorant Garamond";
  font-weight: 700;
  color: #fff;
  font-size: 14px;
}
@media (max-width: 1180px) {
  .btnBox .btn {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .btnBox .btn {
    font-size: 12px;
    width: 140px;
    height: 40px;
  }
}
.btnBox .btn img {
  width: 30px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1180px) {
  .btnBox .btn img {
    width: 25px;
  }
}
@media (max-width: 480px) {
  .btnBox .btn img {
    width: 20px;
  }
}
.btnBox .btn:hover {
  background-color: #b4a885;
}
.btnBox .btn:hover img {
  transform: translateX(10%);
}

.arrowBox {
  display: flex;
  align-items: center;
}
.arrowBox .arrow {
  display: block;
  width: 40px;
  height: 18px;
  padding: 0 15px;
  background-color: #2c4109;
  transition: all 0.3s ease-in-out;
}
.arrowBox .arrow:hover {
  background-color: #b4a885;
}
.arrowBox .arrow:hover.prevArrow {
  transform: translateX(-3px);
}
.arrowBox .arrow:hover.nextArrow {
  transform: translateX(3px);
}
.arrowBox .arrow.prevArrow {
  -webkit-mask: url("../svg/prevArrow.svg") center/contain no-repeat;
          mask: url("../svg/prevArrow.svg") center/contain no-repeat;
}
.arrowBox .arrow.nextArrow {
  -webkit-mask: url("../svg/nextArrow.svg") center/contain no-repeat;
          mask: url("../svg/nextArrow.svg") center/contain no-repeat;
}
.arrowBox .arrowSeparate {
  display: inline-block;
  width: 1px;
  height: 25px;
  background-color: rgba(44, 65, 9, 0.35);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 1366px) {
  .icon {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 768px) {
  .icon {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 575px) {
  .icon {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 480px) {
  .icon {
    width: 25px;
    height: 25px;
  }
}
.icon .arrow {
  width: 23px;
  height: 5px;
}
@media (max-width: 1366px) {
  .icon .arrow {
    width: 20px;
    height: 4px;
  }
}
@media (max-width: 768px) {
  .icon .arrow {
    width: 18px;
  }
}
@media (max-width: 768px) {
  .icon .arrow {
    width: 13px;
    height: 3px;
  }
}
.icon img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #2c4109;
  border-radius: 50px;
  font-family: "Cormorant Garamond";
  font-weight: 200;
  color: #fff;
  font-size: 16px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100px;
  padding: 20px 0;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}
@media (max-width: 1536px) {
  header {
    height: 80px;
    padding: 10px 0;
  }
}
@media (max-width: 1180px) {
  header {
    transition: background-color 0.3s ease;
  }
  header .menuToggle:checked ~ .right {
    border-top: 1px solid #d9d9d9;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }
  header .menuToggle:checked ~ .right, header:has(.menuToggle:checked) {
    background-color: #fff;
  }
}
header.scrolled {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
header .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  height: 100%;
  padding: 0 70px;
}
@media (max-width: 1536px) {
  header .wrap {
    padding: 0 50px;
  }
}
@media (max-width: 768px) {
  header .wrap {
    padding: 0 30px;
  }
}
@media (max-width: 480px) {
  header .wrap {
    padding: 0 20px;
  }
}
header .logo a {
  display: block;
  width: 180px;
}
@media (max-width: 1536px) {
  header .logo a {
    width: 160px;
  }
}
@media (max-width: 1180px) {
  header .logo a {
    width: 140px;
  }
}
header .logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: middle;
}
header .hamburger {
  display: none;
}
@media (max-width: 1180px) {
  header .hamburger {
    display: block;
    padding: 20px;
    cursor: pointer;
  }
  header .hamburger > div + div {
    margin-top: 8px;
  }
}
header .burgerLine {
  width: 30px;
  height: 2px;
  background-color: #2c4109;
}
header .right {
  height: 100%;
  display: flex;
  gap: 30px;
}
@media (max-width: 1180px) {
  header .right {
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateX(-50px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 50px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
@media (max-width: 768px) {
  header .right {
    transform: translateX(-100px);
  }
}
@media (max-width: 1180px) {
  header nav {
    width: 100%;
    height: 100%;
  }
}
header .menuBox {
  height: 100%;
  display: flex;
  gap: 15px;
  margin: 0 -10px;
}
@media (max-width: 1536px) {
  header .menuBox {
    gap: 5px;
  }
}
@media (max-width: 1180px) {
  header .menuBox {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 0;
  }
}
header .menuBox .menuItem {
  height: 100%;
}
header .menuBox .menuItem:hover a:not(.btn) {
  color: #b4a885;
}
@media (max-width: 1180px) {
  header .menuBox .menuItem {
    width: 100%;
  }
}
header .menuBox .menuItem a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  font-family: "Cormorant Garamond";
  font-weight: 700;
  color: #2c4109;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}
@media (max-width: 1180px) {
  header .menuBox .menuItem a {
    width: 100%;
    justify-content: center;
    padding: 15px 0;
  }
}
header .menuBox .menuItem.isBtn {
  display: flex;
  align-items: center;
}
@media (max-width: 1180px) {
  header .menuBox .menuItem.isBtn {
    justify-content: center;
  }
}
header .menuBox .menuItem .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 50px;
  background-color: #2c4109;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}
header .menuBox .menuItem .btn:hover {
  background-color: #b4a885;
}
@media (max-width: 1536px) {
  header .menuBox .menuItem .btn {
    width: 160px;
    height: 45px;
  }
}
@media (max-width: 1180px) {
  header .menuBox .menuItem .btn {
    margin-bottom: 40px;
  }
}
header .funcBox {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1536px) {
  header .funcBox {
    gap: 15px;
  }
}
@media (max-width: 1180px) {
  header .funcBox {
    display: none;
  }
}
header .funcBox .funcIcon {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #2c4109;
  transition: background-color 0.3s ease-in-out;
}
@media (max-width: 1536px) {
  header .funcBox .funcIcon {
    width: 15px;
    height: 15px;
  }
}
header .funcBox .funcIcon:hover {
  background-color: #b4a885;
}
header .funcBox .funcIcon.language {
  -webkit-mask: url("../svg/language.svg") center/contain no-repeat;
          mask: url("../svg/language.svg") center/contain no-repeat;
}
header .funcBox .funcIcon.search {
  -webkit-mask: url("../svg/search.svg") center/contain no-repeat;
          mask: url("../svg/search.svg") center/contain no-repeat;
}

.bannerArea {
  position: relative;
  z-index: 0;
  padding: 80px 0;
  background-image: url(../img/fullBg.png);
  background-repeat: no-repeat;
  background-size: 1920px 814px;
  background-position: center bottom 100px;
}
@media (max-width: 1180px) {
  .bannerArea {
    background-size: cover;
    padding-top: 100px;
  }
}
.bannerArea .wrap {
  height: 100%;
}
.bannerArea .bannerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media (max-width: 1180px) {
  .bannerArea .bannerBox {
    flex-direction: column;
  }
}
.bannerArea .leftBox {
  width: 50%;
  max-width: 535px;
  margin-bottom: 50px;
}
@media (max-width: 1180px) {
  .bannerArea .leftBox {
    width: 100%;
    max-width: 80%;
  }
}
@media (max-width: 768px) {
  .bannerArea .leftBox {
    max-width: 90%;
  }
}
@media (max-width: 480px) {
  .bannerArea .leftBox {
    max-width: 100%;
  }
}
.bannerArea .titleBox .title {
  font-size: 54px;
}
@media (max-width: 1180px) {
  .bannerArea .titleBox .title {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .bannerArea .titleBox .title {
    font-size: 38px;
  }
}
@media (max-width: 480px) {
  .bannerArea .titleBox .title {
    font-size: 32px;
  }
}
@media (max-width: 360px) {
  .bannerArea .titleBox .title {
    font-size: 28px;
  }
}
.bannerArea .titleBox .btn {
  font-family: "Lato";
}
.bannerArea .rightBox {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 50%;
  padding-right: 90px;
}
@media (max-width: 1536px) {
  .bannerArea .rightBox {
    padding-right: 60px;
  }
}
@media (max-width: 1366px) {
  .bannerArea .rightBox {
    padding-right: 10px;
  }
}
@media (max-width: 1180px) {
  .bannerArea .rightBox {
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .bannerArea .rightBox {
    transform: scale(1.1);
  }
}
@media (max-width: 480px) {
  .bannerArea .rightBox {
    transform: scale(1.25);
  }
}
.bannerArea .rightBox .Img {
  width: 525px;
  height: 755px;
}
@media (max-width: 1536px) {
  .bannerArea .rightBox .Img {
    width: 475px;
    height: auto;
  }
}
@media (max-width: 1366px) {
  .bannerArea .rightBox .Img {
    width: 415px;
  }
}
@media (max-width: 1180px) {
  .bannerArea .rightBox .Img {
    width: 40dvw;
  }
}
.bannerArea .rightBox .Img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.bannerArea .rightBox .person {
  position: absolute;
  top: -1%;
  left: 6%;
  width: 330px;
}
@media (max-width: 1536px) {
  .bannerArea .rightBox .person {
    left: 15%;
    width: 310px;
  }
}
@media (max-width: 1366px) {
  .bannerArea .rightBox .person {
    left: 20%;
    width: 270px;
  }
}
@media (max-width: 1180px) {
  .bannerArea .rightBox .person {
    left: 5dvw;
    top: -3dvw;
    width: 28dvw;
  }
}
@media (max-width: 768px) {
  .bannerArea .rightBox .person {
    top: -5dvw;
  }
}
.bannerArea .rightBox .person img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.bannerArea .rightBox .leftLeaf {
  position: absolute;
  left: -40%;
  top: 30%;
  z-index: -1;
  width: 450px;
  height: 350px;
}
@media (max-width: 1536px) {
  .bannerArea .rightBox .leftLeaf {
    left: -25%;
    width: 400px;
  }
}
@media (max-width: 1366px) {
  .bannerArea .rightBox .leftLeaf {
    left: -15%;
    width: 350px;
  }
}
@media (max-width: 1180px) {
  .bannerArea .rightBox .leftLeaf {
    left: -25dvw;
    width: 35dvw;
  }
}
@media (max-width: 480px) {
  .bannerArea .rightBox .leftLeaf {
    left: -15dvw;
    width: 30dvw;
  }
}
.bannerArea .rightBox .leftLeaf img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.bannerArea .rightBox .rightLeaf {
  position: absolute;
  right: -5%;
  bottom: 0;
  z-index: -1;
  width: 245px;
  height: 228px;
}
@media (max-width: 1536px) {
  .bannerArea .rightBox .rightLeaf {
    right: -5%;
    width: 200px;
  }
}
@media (max-width: 1366px) {
  .bannerArea .rightBox .rightLeaf {
    right: -10%;
    width: 180px;
  }
}
@media (max-width: 1180px) {
  .bannerArea .rightBox .rightLeaf {
    right: -10dvw;
    bottom: -5dvw;
    width: 20dvw;
  }
}
@media (max-width: 768px) {
  .bannerArea .rightBox .rightLeaf {
    bottom: -10dvw;
  }
}
@media (max-width: 480px) {
  .bannerArea .rightBox .rightLeaf {
    bottom: -30dvw;
  }
}
@media (max-width: 360px) {
  .bannerArea .rightBox .rightLeaf {
    bottom: -50dvw;
  }
}
.bannerArea .rightBox .rightLeaf img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.bannerArea .bgLeft {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 27%;
}
.bannerArea .bgLeft img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.bannerArea .bgRight {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 30%;
}
.bannerArea .bgRight img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.aboutArea {
  padding: 90px 0 150px;
  overflow: hidden;
}
.aboutArea .wrap {
  max-width: 1715px;
  padding-right: 0;
  margin-right: 0;
  margin-left: auto;
}
.aboutArea .aboutBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.aboutArea .leftBox {
  width: 100%;
  max-width: 600px;
}
.aboutArea .leftBox > div + div {
  margin-top: 40px;
}
.aboutArea .titleBox {
  width: 100%;
  max-width: 500px;
}
.aboutArea .featureBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 520px;
}
.aboutArea .featureBox .Img {
  width: 65px;
  height: 60px;
}
.aboutArea .featureBox .Img + div {
  margin-top: 10px;
}
.aboutArea .featureBox .Img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.aboutArea .featureBox .title {
  font-family: "Cormorant Garamond";
  font-weight: 700;
  color: #2c4109;
  font-size: 24px;
}
.aboutArea .featureBox .text {
  font-family: "Cormorant Garamond";
  font-weight: 400;
  color: #2d2d2d;
  font-size: 16px;
}
.aboutArea .numberBox {
  width: 100%;
  display: flex;
  gap: 70px;
  color: #b4a885;
}
.aboutArea .numberBox .number {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Poppins";
  font-size: 60px;
  font-weight: 400;
}
.aboutArea .numberBox .plus {
  display: block;
  position: absolute;
  right: -25px;
  top: 0;
  font-size: 40px;
}
.aboutArea .numberBox .Txt {
  font-family: "Cormorant Garamond";
  font-size: 22px;
  font-weight: 700;
}
.aboutArea .rightBox {
  width: 100%;
  max-width: 1040px;
  padding-top: 80px;
  overflow: hidden;
}
.aboutArea .rightBox .Img {
  width: 325px;
  height: 500px;
  overflow: hidden;
}
.aboutArea .rightBox .Img img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.3s ease-in-out;
}
.aboutArea .aboutList .slick-list {
  width: 715px;
  margin-left: -22.5px;
  overflow: visible;
}
.aboutArea .aboutList .slick-slide {
  padding: 0 22.5px;
}
.aboutArea .aboutList .slick-center .item {
  transform: translateY(-15%);
}
.aboutArea .item {
  position: relative;
  transition: all 0.4s ease-in-out;
}
.aboutArea .item:hover img {
  transform: scale(1.08);
}
.aboutArea .linkWrap {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.serviceArea {
  position: relative;
  padding: 140px 0;
  background-image: url(../img/ServiceArea.png);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .serviceArea {
    padding: 80px 0;
  }
}
@media (max-width: 480px) {
  .serviceArea {
    padding: 60px 0;
  }
}
@media (max-width: 360px) {
  .serviceArea {
    padding: 40px 0;
  }
}
@media (max-width: 1180px) {
  .serviceArea .wrap {
    padding: 0 120px;
  }
}
@media (max-width: 768px) {
  .serviceArea .wrap {
    padding: 0 60px;
  }
}
@media (max-width: 480px) {
  .serviceArea .wrap {
    padding: 0 30px;
  }
}
@media (max-width: 360px) {
  .serviceArea .wrap {
    padding: 0 20px;
  }
}
.serviceArea .gridBox {
  display: grid;
  grid-template-rows: 1.3fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 35px;
}
@media (max-width: 1536px) {
  .serviceArea .gridBox {
    gap: 30px;
  }
}
@media (max-width: 1180px) {
  .serviceArea .gridBox {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}
@media (max-width: 992px) {
  .serviceArea .gridBox {
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .serviceArea .gridBox {
    gap: 30px;
  }
}
@media (max-width: 480px) {
  .serviceArea .gridBox {
    gap: 25px;
  }
}
@media (max-width: 360px) {
  .serviceArea .gridBox {
    gap: 15px;
  }
}
.serviceArea .item {
  position: relative;
  z-index: 0;
}
.serviceArea .item:hover .Img img {
  transform: scale(1.05);
}
.serviceArea .item a {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.serviceArea .item .Img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.serviceArea .item .Img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.4s ease-in-out;
}
.serviceArea .item .Txt {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 190px;
  margin-left: 30px;
  margin-top: 35px;
}
@media (max-width: 1536px) {
  .serviceArea .item .Txt {
    margin: 0;
    left: 2dvw;
    top: 2dvw;
  }
}
@media (max-width: 1180px) {
  .serviceArea .item .Txt {
    max-width: 250px;
  }
}
@media (max-width: 992px) {
  .serviceArea .item .Txt {
    max-width: 160px;
  }
}
@media (max-width: 480px) {
  .serviceArea .item .Txt {
    max-width: 120px;
  }
}
.serviceArea .item .Txt .text {
  font-family: "Cormorant Garamond";
  font-weight: 500;
  color: #fff;
  font-size: 24px;
}
@media (max-width: 1366px) {
  .serviceArea .item .Txt .text {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .serviceArea .item .Txt .text {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .serviceArea .item .Txt .text {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .serviceArea .item .Txt .text {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .serviceArea .item .Txt .text {
    font-size: 13px;
  }
}
.serviceArea .item .icon {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 45px;
  margin-right: 30px;
}
@media (max-width: 1536px) {
  .serviceArea .item .icon {
    margin: 0;
    right: 2dvw;
    top: 2dvw;
  }
}
.serviceArea .item .icon img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.serviceArea .item1 {
  grid-area: 1/1/3/3;
}
@media (max-width: 1180px) {
  .serviceArea .item1 {
    grid-area: 1/1/3/3;
  }
}
.serviceArea .item1 .Txt {
  margin-left: 40px;
  margin-top: 35px;
  max-width: 550px;
}
@media (max-width: 1536px) {
  .serviceArea .item1 .Txt {
    margin: 0;
    left: 2dvw;
    top: 2dvw;
  }
}
@media (max-width: 1180px) {
  .serviceArea .item1 .Txt {
    left: 4dvw;
    top: 4dvw;
  }
}
.serviceArea .item1 .icon {
  margin-top: 30px;
  margin-right: 40px;
}
@media (max-width: 1536px) {
  .serviceArea .item1 .icon {
    margin: 0;
    right: 5%;
    top: 5%;
  }
}
@media (max-width: 768px) {
  .serviceArea .item1 .icon {
    top: 3%;
  }
}
.serviceArea .item2 {
  grid-area: 1/3/2/4;
}
@media (max-width: 1180px) {
  .serviceArea .item2 {
    grid-area: 3/1/4/2;
  }
}
@media (max-width: 1366px) {
  .serviceArea .item2 .Txt {
    max-width: 160px;
  }
}
@media (max-width: 991px) {
  .serviceArea .item2 .Txt {
    max-width: 120px;
  }
}
@media (max-width: 480px) {
  .serviceArea .item2 .Txt {
    max-width: 80px;
  }
}
.serviceArea .item3 {
  grid-area: 1/4/2/5;
}
@media (max-width: 1180px) {
  .serviceArea .item3 {
    grid-area: 3/2/4/3;
  }
}
.serviceArea .item4 {
  grid-area: 2/3/3/5;
}
@media (max-width: 1180px) {
  .serviceArea .item4 {
    grid-area: 4/1/5/3;
  }
}
.serviceArea .decoBox .decoLeft {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20dvw;
}
.serviceArea .decoBox .decoLeft img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.serviceArea .decoBox .decoRight {
  position: absolute;
  right: 0;
  top: 0;
  width: 20dvw;
}
.serviceArea .decoBox .decoRight img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.newsArea {
  padding: 150px 0 140px;
}
@media (max-width: 1536px) {
  .newsArea {
    padding: 100px 0 100px;
  }
}
@media (max-width: 1180px) {
  .newsArea {
    padding: 80px 0 140px;
  }
}
@media (max-width: 768px) {
  .newsArea {
    padding: 50px 0 100px;
  }
}
@media (max-width: 575px) {
  .newsArea {
    padding: 45px 0 80px;
  }
}
@media (max-width: 480px) {
  .newsArea {
    padding: 40px 0 70px;
  }
}
@media (max-width: 1180px) {
  .newsArea .newsBox {
    max-width: 800px;
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .newsArea .newsBox {
    max-width: 700px;
  }
}
@media (max-width: 768px) {
  .newsArea .newsBox {
    max-width: 100%;
  }
}
.newsArea .topBox {
  display: flex;
  justify-content: center;
  margin-bottom: 65px;
}
@media (max-width: 1180px) {
  .newsArea .topBox {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .newsArea .topBox {
    margin-bottom: 30px;
  }
}
@media (max-width: 575px) {
  .newsArea .topBox {
    margin-bottom: 25px;
  }
}
.newsArea .topBox .titleBox {
  width: 100%;
  max-width: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsArea .bottomBox {
  display: flex;
  gap: 55px;
}
@media (max-width: 1536px) {
  .newsArea .bottomBox {
    justify-content: center;
    gap: 35px;
  }
}
@media (max-width: 1366px) {
  .newsArea .bottomBox {
    gap: 25px;
  }
}
@media (max-width: 1180px) {
  .newsArea .bottomBox {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .newsArea .bottomBox {
    gap: 30px;
  }
}
@media (max-width: 480px) {
  .newsArea .bottomBox {
    gap: 20px;
  }
}
.newsArea .item {
  position: relative;
}
.newsArea .item .title {
  max-width: 500px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
  font-family: "Cormorant Garamond";
  font-weight: 700;
  color: #000;
  font-size: 22px;
}
@media (max-width: 768px) {
  .newsArea .item .title {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .newsArea .item .title {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .newsArea .item .title {
    font-size: 17px;
  }
}
.newsArea .linkWrap {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.newsArea .top {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
@media (max-width: 575px) {
  .newsArea .top {
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .newsArea .top {
    gap: 10px;
  }
}
.newsArea .date {
  font-family: "Poppins";
  font-weight: 400;
  color: #333;
  font-size: 14px;
}
@media (max-width: 480px) {
  .newsArea .date {
    font-size: 13px;
  }
}
.newsArea .tag {
  padding: 15px 15px;
  height: 29px;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 575px) {
  .newsArea .tag {
    padding: 13px 13px;
    height: 25px;
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .newsArea .tag {
    padding: 10px 10px;
    height: 22px;
    font-size: 14px;
  }
}
.newsArea .leftBox {
  width: 100%;
  max-width: 685px;
}
@media (max-width: 1536px) {
  .newsArea .leftBox {
    max-width: 620px;
  }
}
@media (max-width: 1366px) {
  .newsArea .leftBox {
    max-width: 560px;
  }
}
@media (max-width: 1180px) {
  .newsArea .leftBox {
    max-width: 100%;
  }
}
.newsArea .leftBox .item:hover .Img img {
  transform: scale(1.08);
}
.newsArea .leftBox .Img {
  width: 685px;
  height: 350px;
  margin-bottom: 20px;
  overflow: hidden;
}
@media (max-width: 1536px) {
  .newsArea .leftBox .Img {
    width: 100%;
  }
}
@media (max-width: 1366px) {
  .newsArea .leftBox .Img {
    height: 300px;
  }
}
@media (max-width: 1180px) {
  .newsArea .leftBox .Img {
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 992px) {
  .newsArea .leftBox .Img {
    height: 360px;
  }
}
@media (max-width: 768px) {
  .newsArea .leftBox .Img {
    height: 300px;
  }
}
@media (max-width: 575px) {
  .newsArea .leftBox .Img {
    height: 250px;
  }
}
@media (max-width: 480px) {
  .newsArea .leftBox .Img {
    height: 180px;
  }
}
@media (max-width: 360px) {
  .newsArea .leftBox .Img {
    height: 140px;
  }
}
.newsArea .leftBox .Img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.4s ease-in-out;
}
.newsArea .leftBox .Txt .center {
  margin-bottom: 10px;
}
@media (max-width: 575px) {
  .newsArea .leftBox .Txt .center {
    margin-bottom: 5px;
  }
}
.newsArea .leftBox .Txt .desc {
  font-family: "Cormorant Garamond";
  font-weight: 700;
  color: #666;
  font-size: 16px;
}
@media (max-width: 768px) {
  .newsArea .leftBox .Txt .desc {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .newsArea .leftBox .Txt .desc {
    font-size: 14px;
  }
}
.newsArea .leftBox .Txt .btnBox {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 2;
}
.newsArea .leftBox .Txt .btn {
  justify-content: flex-start;
  background-color: transparent;
  color: #2c4109;
  font-size: 16px;
}
@media (max-width: 575px) {
  .newsArea .leftBox .Txt .btn {
    width: 140px;
  }
}
.newsArea .rightBox {
  width: 100%;
  max-width: 675px;
}
@media (max-width: 1536px) {
  .newsArea .rightBox {
    max-width: 600px;
  }
}
@media (max-width: 1366px) {
  .newsArea .rightBox {
    max-width: 550px;
  }
}
@media (max-width: 1180px) {
  .newsArea .rightBox {
    max-width: 100%;
  }
}
.newsArea .rightBox .newsRightList .slick-list {
  margin: -30px 0;
}
@media (max-width: 1366px) {
  .newsArea .rightBox .newsRightList .slick-list {
    margin: -15px 0;
  }
}
.newsArea .rightBox .newsRightList .slick-dots {
  bottom: -50px;
}
@media (max-width: 1366px) {
  .newsArea .rightBox .newsRightItem .title {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .newsArea .rightBox .newsRightItem .title {
    max-width: 325px;
  }
}
.newsArea .rightBox .newsRightItem:hover .tag {
  background-color: #2c4109;
}
.newsArea .rightBox .newsRightItem:hover .title {
  color: #2c4109;
}
.newsArea .rightBox .newsRightItem:hover .icon {
  background-color: #2c4109;
}
.newsArea .rightBox .newsRightItem:hover .icon img {
  filter: brightness(0) invert(1);
}
.newsArea .rightBox .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dedede;
  padding: 25px 0;
}
@media (max-width: 1366px) {
  .newsArea .rightBox .item {
    padding: 15px 0;
  }
}
@media (max-width: 1366px) {
  .newsArea .rightBox .item {
    gap: 20px;
  }
}
@media (max-width: 575px) {
  .newsArea .rightBox .item {
    padding: 10px 0;
  }
}
@media (max-width: 480px) {
  .newsArea .rightBox .item {
    gap: 12px;
    padding: 8px 0;
  }
}
@media (max-width: 575px) {
  .newsArea .rightBox .item .title {
    max-width: 100%;
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .newsArea .rightBox .item .title {
    height: 30px;
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .newsArea .rightBox .left {
    flex: 1;
  }
}
.newsArea .rightBox .right {
  flex-shrink: 0;
}
.newsArea .rightBox .icon {
  border: 1px solid #2c4109;
}

.teamArea {
  position: relative;
  padding: 140px 0 110px;
  background-image: url(../img/TeamAreaBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
@media (max-width: 1180px) {
  .teamArea {
    padding: 80px 0 100px;
  }
}
@media (max-width: 480px) {
  .teamArea {
    padding: 50px 0 60px;
  }
}
.teamArea .wrap {
  max-width: 1720px;
  margin-right: 0;
  margin-left: auto;
  padding-right: 0;
}
@media (max-width: 1180px) {
  .teamArea .wrap {
    padding: 0;
  }
}
.teamArea .teamBox {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
@media (max-width: 1180px) {
  .teamArea .teamBox {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .teamArea .teamBox {
    gap: 55px;
  }
}
.teamArea .leftBox {
  width: 100%;
  max-width: 335px;
}
@media (max-width: 1180px) {
  .teamArea .leftBox {
    max-width: 70%;
  }
}
.teamArea .leftBox .titleBox {
  margin-bottom: 25px;
}
.teamArea .leftBox .titleBox .text {
  text-align: justify;
  line-height: 30px;
}
.teamArea .leftBox .titleBox .text {
  text-align: justify;
  line-height: 30px;
}
@media (max-width: 480px) {
  .teamArea .leftBox .titleBox .text {
    line-height: 24px;
  }
}
@media (max-width: 1180px) {
  .teamArea .leftBox .arrowBox {
    display: none;
  }
}
.teamArea .rightBox {
  width: 100%;
  max-width: 1215px;
  overflow: hidden;
}
@media (max-width: 1180px) {
  .teamArea .rightBox {
    padding: 0 150px;
  }
}
@media (max-width: 996px) {
  .teamArea .rightBox {
    padding: 0 100px;
  }
}
@media (max-width: 768px) {
  .teamArea .rightBox {
    padding: 0 170px;
  }
}
@media (max-width: 575px) {
  .teamArea .rightBox {
    padding: 0 100px;
  }
}
@media (max-width: 480px) {
  .teamArea .rightBox {
    padding: 0 50px;
  }
}
.teamArea .rightBox .teamList .slick-list {
  width: 845px;
  margin: 0 -25px;
  overflow: visible;
}
@media (max-width: 1366px) {
  .teamArea .rightBox .teamList .slick-list {
    width: 700px;
  }
}
@media (max-width: 1180px) {
  .teamArea .rightBox .teamList .slick-list {
    padding: 0;
    width: 100%;
    margin: 0;
  }
}
.teamArea .rightBox .teamList .slick-slide {
  padding: 0 25px;
}
@media (max-width: 1180px) {
  .teamArea .rightBox .teamList .slick-slide {
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .teamArea .rightBox .teamList .slick-slide {
    padding: 0 15px;
  }
}
@media (max-width: 480px) {
  .teamArea .rightBox .teamList .slick-slide {
    padding: 0 10px;
  }
}
.teamArea .rightBox .item {
  position: relative;
}
.teamArea .rightBox .item:hover img {
  transform: scale(1.08);
}
.teamArea .rightBox .item:hover .tag {
  background-color: #b4a885;
}
.teamArea .rightBox .item:hover .textBox .top .name {
  color: #b4a885;
}
.teamArea .rightBox .linkWrap {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.teamArea .rightBox .Img {
  width: 100%;
  margin-bottom: 25px;
  overflow: hidden;
}
@media (max-width: 996px) {
  .teamArea .rightBox .Img {
    margin-bottom: 15px;
  }
}
.teamArea .rightBox .Img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.4s ease-in-out;
}
.teamArea .rightBox .textBox .top {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
@media (max-width: 480px) {
  .teamArea .rightBox .textBox .top {
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .teamArea .rightBox .textBox .top {
    margin-bottom: 5px;
  }
}
.teamArea .rightBox .textBox .top .tag {
  width: 70px;
  height: 30px;
  transition: background-color 0.3s ease-in-out;
}
@media (max-width: 996px) {
  .teamArea .rightBox .textBox .top .tag {
    width: 65px;
    height: 28px;
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .teamArea .rightBox .textBox .top .tag {
    width: 60px;
    height: 25px;
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .teamArea .rightBox .textBox .top .tag {
    width: 55px;
    height: 22px;
    font-size: 13px;
  }
}
.teamArea .rightBox .textBox .top .name {
  transition: color 0.3s ease-in-out;
  font-family: "Cormorant Garamond";
  font-weight: 700;
  color: #2d2d2d;
  font-size: 26px;
}
@media (max-width: 996px) {
  .teamArea .rightBox .textBox .top .name {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .teamArea .rightBox .textBox .top .name {
    font-size: 22px;
  }
}
@media (max-width: 480px) {
  .teamArea .rightBox .textBox .top .name {
    font-size: 18px;
  }
}
.teamArea .rightBox .textBox .desc {
  font-family: "Cormorant Garamond";
  font-weight: 700;
  color: #2d2d2d;
  font-size: 16px;
}
@media (max-width: 996px) {
  .teamArea .rightBox .textBox .desc {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .teamArea .rightBox .textBox .desc {
    font-size: 13px;
  }
}
.teamArea .deco {
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
}
.teamArea .deco img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

footer {
  position: relative;
  padding: 100px 0 45px;
}
@media (max-width: 768px) {
  footer {
    padding: 80px 0 40px;
  }
}
@media (max-width: 480px) {
  footer {
    padding: 60px 0 35px;
  }
}
@media (max-width: 360px) {
  footer {
    padding: 40px 0 30px;
  }
}
footer .topBox {
  display: flex;
  gap: 160px;
}
@media (max-width: 1536px) {
  footer .topBox {
    gap: 130px;
  }
}
@media (max-width: 1366px) {
  footer .topBox {
    gap: 90px;
  }
}
@media (max-width: 1180px) {
  footer .topBox {
    flex-direction: column;
    gap: 40px;
  }
}
@media (max-width: 768px) {
  footer .topBox {
    gap: 30px;
  }
}
@media (max-width: 480px) {
  footer .topBox {
    gap: 15px;
  }
}
@media (max-width: 360px) {
  footer .topBox {
    gap: 0;
  }
}
footer .topBox .left {
  width: 260px;
}
@media (max-width: 1180px) {
  footer .topBox .left {
    width: 100%;
  }
}
footer .topBox .logo {
  width: 185px;
  height: 40px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  footer .topBox .logo {
    width: 170px;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  footer .topBox .logo {
    width: 150px;
    margin-bottom: 0;
  }
}
footer .topBox .logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .topBox .contactBox {
  margin-bottom: 30px;
}
footer .topBox .contactBox > div + div {
  margin-top: 15px;
}
footer .topBox .contactBox {
  font-family: "Poppins";
  font-weight: 400;
  color: #2d2d2d;
  font-size: 14px;
}
@media (max-width: 768px) {
  footer .topBox .contactBox {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  footer .topBox .contactBox {
    margin-bottom: 20px;
  }
}
footer .topBox .contactBox div {
  transition: color 0.3s ease-in-out;
}
footer .topBox .contactBox div:hover {
  color: #b4a885;
}
footer .topBox .iconBox {
  display: flex;
  gap: 15px;
}
footer .topBox .iconBox .iconItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 5px;
  border: 1px solid #2c4109;
  border-radius: 50%;
  transition: border 0.3s ease-in-out;
}
footer .topBox .iconBox .iconItem:hover {
  border-color: #b4a885;
}
footer .topBox .iconBox .iconItem:hover .socialIcon {
  background-color: #b4a885;
}
@media (max-width: 480px) {
  footer .topBox .iconBox .iconItem {
    width: 35px;
    height: 35px;
    padding: 3px;
  }
}
footer .topBox .iconBox .socialIcon {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #2c4109;
  transition: background-color 0.3s ease-in-out;
}
@media (max-width: 480px) {
  footer .topBox .iconBox .socialIcon {
    width: 18px;
    height: 18px;
  }
}
footer .topBox .iconBox .socialIcon.igIcon {
  -webkit-mask: url("../svg/ig.svg") center/contain no-repeat;
          mask: url("../svg/ig.svg") center/contain no-repeat;
}
footer .topBox .iconBox .socialIcon.fbIcon {
  -webkit-mask: url("../svg/fb.svg") center/contain no-repeat;
          mask: url("../svg/fb.svg") center/contain no-repeat;
}
footer .topBox .iconBox .socialIcon.ytIcon {
  -webkit-mask: url("../svg/yt.svg") center/contain no-repeat;
          mask: url("../svg/yt.svg") center/contain no-repeat;
}
footer .topBox .right {
  width: 100%;
  max-width: 990px;
}
footer .topBox .right .footerMenu {
  display: flex;
  gap: 90px;
}
@media (max-width: 1180px) {
  footer .topBox .right .footerMenu > li {
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  footer .topBox .right .footerMenu > li {
    margin-top: 40px;
  }
}
@media (max-width: 480px) {
  footer .topBox .right .footerMenu > li {
    margin-top: 35px;
  }
}
@media (max-width: 360px) {
  footer .topBox .right .footerMenu > li {
    margin-top: 30px;
  }
}
@media (max-width: 1536px) {
  footer .topBox .right .footerMenu {
    gap: 75px;
  }
}
@media (max-width: 1366px) {
  footer .topBox .right .footerMenu {
    gap: 55px;
  }
}
@media (max-width: 1180px) {
  footer .topBox .right .footerMenu {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
  }
}
@media (max-width: 768px) {
  footer .topBox .right .footerMenu {
    margin-bottom: 25px;
  }
}
@media (max-width: 480px) {
  footer .topBox .right .footerMenu {
    margin-bottom: 15px;
  }
}
@media (max-width: 1180px) {
  footer .topBox .right .menuItem {
    width: 33.3333333333%;
  }
}
@media (max-width: 768px) {
  footer .topBox .right .menuItem {
    width: calc(50% - 20px);
  }
}
@media (max-width: 480px) {
  footer .topBox .right .menuItem {
    width: calc(50% - 10px);
  }
}
@media (max-width: 360px) {
  footer .topBox .right .menuItem {
    width: 100%;
  }
}
footer .topBox .right a {
  display: block;
}
footer .topBox .right .title {
  padding-bottom: 10px;
  transition: color 0.3s ease-in-out;
  font-family: "Cormorant Garamond";
  font-weight: 500;
  color: #000;
  font-size: 22px;
}
@media (max-width: 768px) {
  footer .topBox .right .title {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  footer .topBox .right .title {
    padding-bottom: 5px;
    font-size: 18px;
  }
}
footer .topBox .right .title:hover {
  color: #b4a885;
}
footer .topBox .right .subMenu .subMenuItem:hover a {
  color: #b4a885;
}
footer .topBox .right .subMenu a {
  padding-top: 10px;
  margin-top: 10px;
  transition: color 0.3s ease-in-out;
  font-family: "Cormorant Garamond";
  font-weight: 500;
  color: #000;
  font-size: 16px;
}
@media (max-width: 768px) {
  footer .topBox .right .subMenu a {
    margin-top: 5px;
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  footer .topBox .right .subMenu a {
    padding-top: 5px;
    font-size: 14px;
  }
}
footer .bottomBox {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  padding-top: 30px;
  border-top: 1px solid #d9d9d9;
  font-family: "Cormorant Garamond";
  font-weight: 400;
  color: #2c4109;
  font-size: 15px;
}
@media (max-width: 768px) {
  footer .bottomBox {
    flex-direction: column;
    gap: 10px;
    padding-top: 25px;
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  footer .bottomBox {
    gap: 0;
    padding-top: 15px;
    margin-top: 10px;
  }
}
footer .bottomBox .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
@media (max-width: 768px) {
  footer .bottomBox .left {
    justify-content: flex-start;
    gap: 15px;
  }
}
@media (max-width: 480px) {
  footer .bottomBox .left {
    justify-content: flex-start;
    gap: 10px;
  }
}
footer .bottomBox a {
  transition: color 0.3s ease-in-out;
}
footer .bottomBox a:hover {
  color: #b4a885;
}
@media (max-width: 480px) {
  footer .bottomBox a {
    font-size: 14px;
  }
}
footer .bottomBox .spearator {
  width: 1px;
  height: 15px;
  background-color: #d9d9d9;
}
@media (max-width: 480px) {
  footer .bottomBox .spearator {
    width: 1px;
    height: 10px;
  }
}
footer .bottomBox .copyright a {
  font: inherit;
  text-decoration: underline;
  text-underline-offset: 1px;
  color: inherit;
  transition: color 0.3s ease-in-out;
}
footer .bottomBox .copyright a:hover {
  color: #b4a885;
}
@media (max-width: 480px) {
  footer .bottomBox .copyright a {
    font-size: 13px;
  }
}
footer .deco {
  position: absolute;
  top: -140px;
  left: 0;
  width: 17vw;
  z-index: 1;
}
footer .deco img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
