@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Lato:wght@300;400;700;900&family=Noto+Sans+TC:wght@300;400;500;600;700;900&family=Noto+Serif+TC:wght@300;400;500;600;700;900&family=Poppins:wght@300;400;500;600;700;900&display=swap");

// ------- variable -------

$font-en: "Cormorant Garamond";
$font-lato: "Lato";
$font-poppins: "Poppins";
$GreenColor: #2c4109;
$whiteColor: #fff;
$LightGrayColor: #d9d9d9;
$DarkGrayColor: #2d2d2d;
$BlackColor: #000;
$BrownColor: #b4a885;

@mixin text($color: $GreenColor, $size: 16px, $weight: 700, $family: $font-en) {
    font-family: $family;
    font-weight: $weight;
    color: $color;
    font-size: $size;
}

@mixin tag($bgColor: $GreenColor, $boder: 50px) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $bgColor;
    border-radius: $boder;
    @include text($color: $whiteColor);
}

// --------- color class ---------
.wood {
    background-color: burlywood;
}

.blue {
    background-color: skyblue;
}

.red {
    background-color: rgb(189, 73, 73);
}

.pink {
    background-color: pink;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.gray {
    background-color: gray;
}

.orange {
    background-color: orangered;
}

// --------- global style --------

.wrap {
    width: 100%;
    height: 100%;
    max-width: 1515px;
    padding: 0 50px;
    margin: 0 auto;
}

.titleBox {
    & > div + div {
        margin-top: 25px;
    }

    .title {
        @include text($size: 45px);
    }
    .subtitle {
        @include text($size: 24px);
    }
    .line {
        width: 35px;
        height: 2px;
        background-color: $GreenColor;
    }
    .text {
        line-height: 24px;
        @include text($weight: 400);
    }
}

.actionBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnBox {
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 160px;
        height: 45px;
        background-color: $GreenColor;
        transition: all 0.3s ease-in-out;
        @include text($family: $font-en, $size: 14px, $color: $whiteColor);
        img {
            width: 30px;
            height: 10px;
            transition: all 0.3s ease-in-out;
        }
        &:hover {
            background-color: $BrownColor;
            img {
                transform: translateX(10%);
            }
        }
    }
}

.arrowBox {
    display: flex;
    align-items: center;
    gap: 15px;
    .arrow {
        width: 10px;
        img {
            display: block;
            width: 100%;
            object-fit: contain;
        }
    }
    .arrowSeparate {
        display: inline-block;
        width: 1px;
        height: 25px;
        background-color: rgba(44, 65, 9, 0.35);
    }
}

// --------- header ---------

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100px;
    padding-top: 20px;

    .wrap {
        max-width: 100%;
        height: 100%;
        padding: 0 70px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        a {
            display: block;
            width: 180px;
        }

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    .right {
        height: 100%;
        display: flex;
        gap: 30px;
    }

    .menuBox {
        height: 100%;
        display: flex;
        gap: 15px;
        margin: 0 -10px;

        .menuItem {
            height: 100%;
            a {
                display: flex;
                align-items: center;
                height: 100%;
                padding: 0 10px; //增加使用者體驗

                @include text;
            }
            &.isBtn {
                display: flex;
                align-items: center;
            }

            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 190px;
                height: 50px;
                background-color: $GreenColor;
                color: $whiteColor;
                transition: all 0.3s ease-in-out;
                &:hover {
                    background-color: $BrownColor;
                }
            }
        }
    }

    .funcBox {
        height: 100%;
        display: flex;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0 10px;
        }
    }
}

// --------- banner ---------

.bannerArea {
    position: relative;
    z-index: 0;
    padding: 80px 0;
    background-image: url(../img/fullBg.png);
    background-repeat: no-repeat;
    background-size: contain;
    .wrap {
        height: 100%;
    }
    .bannerBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .leftBox {
        width: 50%;
        max-width: 535px;
        margin-bottom: 50px;
    }
    .titleBox {
        .title {
            font-size: 54px;
        }
        .btn {
            font-family: $font-lato;
        }
    }
    .rightBox {
        position: relative;
        display: flex;
        justify-content: flex-end;
        width: 50%;
        padding-right: 90px;
        .Img {
            width: 525px;
            height: 755px;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
        .person {
            position: absolute;
            top: -1%;
            left: 6%;
            width: 330px;
            height: 800px;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
        .leftLeaf {
            position: absolute;
            left: -40%;
            top: 30%;
            z-index: -1;
            width: 450px;
            height: 350px;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
        .rightLeaf {
            position: absolute;
            right: -5%;
            bottom: 0;
            z-index: -1;
            width: 245px;
            height: 228px;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }
    .bgLeft {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 27%;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    .bgRight {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        width: 30%;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
}

// --------- about ---------

.aboutArea {
    padding: 90px 0 150px;
    overflow: hidden;
    .wrap {
        max-width: calc(1665px + 50px);
        padding-right: 0;
        margin-right: 0;
        margin-left: auto;
    }
    .aboutBox {
        display: flex;
        justify-content: space-between;
    }

    // ----------- left ------------

    .leftBox {
        width: 100%;
        max-width: 600px;
        & > div + div {
            margin-top: 40px;
        }
    }
    .titleBox {
        width: 100%;
        max-width: 500px;
    }
    .featureBox {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 520px;
        .Img {
            width: 65px;
            height: 60px;
            & + div {
                margin-top: 10px;
            }
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .title {
            @include text($size: 24px);
        }
        .text {
            @include text($color: $DarkGrayColor, $weight: 400);
        }
    }
    .numberBox {
        width: 100%;
        display: flex;
        gap: 70px;
        color: $BrownColor;
        .number {
            position: relative;
            width: fit-content;
            font-family: $font-poppins;
            font-size: 60px;
            font-weight: 400;
        }
        .plus {
            display: block;
            position: absolute;
            right: -25px;
            top: 0;
            font-size: 40px;
        }
        .Txt {
            font-family: $font-en;
            font-size: 22px;
            font-weight: 700;
        }
    }

    // ----------- right ------------

    .rightBox {
        width: 100%;
        max-width: 1040px;
        overflow: hidden;

        .Img {
            width: 325px;
            height: 500px;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
                object-fit: contain;
            }
        }
    }
    .aboutList {
        padding-top: 80px;
        .slick-list {
            margin: 0 -22.5px;
            overflow: visible;
        }
        .slick-slide {
            padding: 0 22.5px;
        }
        .slick-center {
            .item {
                transform: translateY(-15%);
            }
        }
    }
    .item {
        position: relative;
        transition: all 0.4s ease-in-out;
    }
    .linkWrap {
        position: absolute;
        inset: 0;
        z-index: 1;
    }
}

// --------- service ---------

.serviceArea {
    position: relative; //給裝飾物定位用
    padding: 140px 0;
    background-image: url(../img/ServiceArea.png);
    background-size: cover;
    background-repeat: no-repeat;
    .gridBox {
        display: grid;
        grid-template-rows: 1.3fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 35px;
    }
    .item {
        position: relative;
        z-index: 0;
        a {
            position: absolute;
            inset: 0;
            z-index: 1;
        }
        .Img {
            width: 100%;
            height: 100%;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .Txt {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            max-width: 190px;
            margin-left: 30px;
            margin-top: 40px;
            .text {
                @include text($color: $whiteColor, $size: 24px, $weight: 500);
            }
        }
        .icon {
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            margin-top: 45px;
            margin-right: 30px;
            border-radius: 50%;
            border: 1px solid $whiteColor;
            .arrow {
                width: 23px;
                height: 5px;
            }
            img {
                display: block;
                width: 100%;
                object-fit: contain;
            }
        }

        &1 {
            grid-area: 1 / 1 / 3 / 3;
            .Txt {
                margin-left: 40px;
                margin-top: 35px;
                max-width: 550px;
            }
            .icon {
                margin-top: 30px;
                margin-right: 40px;
            }
        }

        &2 {
            grid-area: 1 / 3 / 2 / 4;
        }

        &3 {
            grid-area: 1 / 4 / 2 / 5;
        }

        &4 {
            grid-area: 2 / 3 / 3 / 5;
        }
    }
    .decoBox {
        .decoLeft {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 20dvw;
            img {
                display: block;
                width: 100%;
                object-fit: contain;
            }
        }
        .decoRight {
            position: absolute;
            right: 0;
            top: 0;
            width: 20dvw;
            img {
                display: block;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

// --------- news ---------

.newsArea {
    padding: 150px 0 140px;
    .topBox {
        display: flex;
        justify-content: center;
    }
    .titleBox {
        width: 100%;
        max-width: 670px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

// --------- team ---------

.teamArea {
    position: relative; //給裝飾物定位用
    padding: 140px 0 110px;
    background-image: url(../img/TeamAreaBg.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    .wrap {
        max-width: 1720px;
        padding: 0 0 0 50px;
        margin-right: 0;
        margin-left: auto;
    }
    .teamBox {
        display: flex;
        justify-content: space-between;
    }

    .leftBox {
        width: 100%;
        max-width: 335px;
        .titleBox {
            margin-bottom: 25px;
            .text {
                text-align: justify;
                line-height: 30px;
            }
        }
    }

    .rightBox {
        width: 100%;
        max-width: 1215px;

        .teamList {
            .slick-list {
                margin: 0 -25px;
            }

            .slick-slide {
                padding: 0 25px;
            }
        }

        .item {
            position: relative;
        }

        .linkWrap {
            position: absolute;
            inset: 0;
            z-index: 1;
        }
        .Img {
            width: 100%;
            margin-bottom: 25px;

            img {
                width: 100%;
                object-fit: contain;
            }
        }

        .textBox {
            .top {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 15px;
                .tag {
                    width: 70px;
                    height: 30px;
                    @include tag;
                }
                .name {
                    @include text($color: $DarkGrayColor, $size: 26px);
                }
            }
            .desc {
                @include text($color: $DarkGrayColor);
            }
        }
    }

    .deco {
        position: absolute;
        top: 0;
        left: 0;
        width: 20vw;

        img {
            width: 100%;
            object-fit: contain;
        }
    }
}

// --------- Footer ---------

footer {
    position: relative;
    padding: 100px 0 45px;

    .topBox {
        display: flex;
        justify-content: space-between;

        // --------- left ---------

        .left {
            width: 260px;
        }
        .logo {
            width: 185px;
            height: 40px;
            margin-bottom: 30px;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
        .contactBox {
            margin-bottom: 30px;
            & > div + div {
                margin-top: 15px;
            }
            @include text(
                $color: $DarkGrayColor,
                $size: 14px,
                $weight: 400,
                $family: $font-poppins
            );
        }
        .iconBox {
            display: flex;
            gap: 15px;
            .iconItem {
                width: 37px;
                height: 37px;
                padding: 8px;
                border: 1px solid $GreenColor;
                border-radius: 50%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        // --------- right ---------

        .right {
            width: 100%;
            max-width: 990px;
            .footerMenu {
                display: flex;
                justify-content: space-between;
            }
            a {
                display: block;
            }
            .title {
                padding-bottom: 10px;
                @include text($color: $BlackColor, $size: 22px, $weight: 500);
            }
            .subMenu {
                a {
                    padding-top: 10px;
                    margin-top: 10px;
                    @include text($color: $BlackColor, $weight: 500);
                }
            }
        }
    }

    .bottomBox {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        padding-top: 30px;
        border-top: 1px solid $LightGrayColor;
        @include text($size: 15px, $weight: 400);
        .left {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 25px;
        }
        .spearator {
            width: 1px;
            height: 15px;
            background-color: $LightGrayColor;
        }
        a {
            font: inherit;
            text-decoration: underline;
            text-underline-offset: 1px;
            color: inherit;
        }
    }

    .deco {
        position: absolute;
        top: -30%;
        left: 0;
        width: 17vw;
        z-index: 1;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
}
