.demoArea {
    background: #131313;
    padding: 40px 0 8px;

    @include media(480) {
        padding: 20px 0 20px;
    }

    .wrap {
        max-width: 100%;
        padding: 0;
        @include media(1080) {
            padding: 0 20px;
            max-width: 960px;
        }
    }

    .pdBox {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 8px;
        padding: 65px 8px 0;
        @include media(1080) {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            padding: 65px 0 0;
        }
    }

    .item {
        position: relative;
        z-index: 0;
        @include hover {
            .Img {
                img {
                    transform: scale(1.1);
                    opacity: 0.5;
                }
                a::after {
                    opacity: 1;
                    transform: translate(-50%, -50%) rotate(270deg);
                }
                a::before {
                    opacity: 1;
                    transform: translate(-50%, -50%) rotate(360deg);
                }
            }
        }
        .Img {
            position: relative;
            height: 425px;
            overflow: hidden;
            img {
                transition: all 0.7s;
                @include imgCover;
            }
            a {
                position: relative;
                z-index: 99;
            }
            a::after,
            a::before {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                z-index: 99;
                display: block;
                height: 1px;
                width: 50px;
                background-color: #ffffff;
                opacity: 0;
                transition: all 0.8s cubic-bezier(0.45, 0, 0.55, 1);
            }
            a::after {
                transform: translate(-50%, -50%) rotate(90deg);
            }
            a::before {
                transform: translate(-50%, -50%) rotate(180deg);
            }
            @include media(1080) {
                height: 425px;
                opacity: 0.8;
            }
            @include media(800) {
                height: 380px;
            }
            @include media(640) {
                height: 300px;
            }
            @include media(480) {
                height: 220px;
            }
        }
        .Txt {
            position: absolute;
            z-index: 99;
            bottom: 0;
            left: 0;
            padding-left: 35px;
            padding-bottom: 35px;
            @include media(480) {
                padding-left: 15px;
                padding-bottom: 15px;
            }
            .titleEn {
                color: #fff;
                font-size: 16px;
                font-weight: 300;
                font-family: $fontEn;
                line-height: 1;
                letter-spacing: 1px;
                @include media(480) {
                    font-size: 12px;
                }
            }
            .title {
                color: #fff;
                font-weight: 300;
                font-size: 30px;
                letter-spacing: 1px;
                @include media(480) {
                    font-size: 16px;
                }
            }
        }

        // grid item
        &1 {
            grid-area: 1 / 1 / 2 / 6;
            justify-content: center;
            @include media(1080) {
                grid-area: 1 / 1 / 2 / 5;
            }
            .contentBox {
                max-width: 580px;
                padding-top: 75px;
                margin-right: 90px;
                margin-left: auto;
                @include media(1440) {
                    padding: 45px 0;
                    margin-right: 0;
                }
                @include media(768) {
                    margin-left: 0;
                }
            }
            .decoBox {
                margin-bottom: 20px;
            }
            .titleBox {
                margin-bottom: 20px;
            }
            .btn {
                margin-top: 45px;
                @include media(1440) {
                    margin-top: 30px;
                }
            }
        }
        &2 {
            grid-area: 1 / 6 / 2 / 8;
            @include media(1080) {
                grid-area: 1 / 5 / 2 / 9;
            }
        }
        &3 {
            grid-area: 1 / 8 / 2 / 10;

            @include media(1080) {
                grid-area: 2 / 1 / 3 / 5;
            }
        }
        &4 {
            grid-area: 2 / 1 / 4 / 4;

            .Img {
                height: 860px;
            }

            @include media(1080) {
                grid-area: 2 / 5 / 3 / 9;
                .Img {
                    height: 425px;
                }
            }

            @include media(800) {
                .Img {
                    height: 380px;
                }
            }
            @include media(640) {
                .Img {
                    height: 300px;
                }
            }
            @include media(480) {
                .Img {
                    height: 220px;
                }
            }
        }
        &5 {
            grid-area: 2 / 4 / 3 / 8;

            @include media(1080) {
                grid-area: 3 / 1 / 4 / 5;
            }
        }
        &6 {
            grid-area: 2 / 8 / 3 / 10;

            @include media(1080) {
                grid-area: 3 / 5 / 4 / 9;
            }
        }
        &7 {
            grid-area: 3 / 4 / 4 / 6;

            @include media(1080) {
                grid-area: 4 / 1 / 5 / 5;
            }
        }

        &8 {
            grid-area: 3 / 6 / 4 / 10;

            @include media(1080) {
                grid-area: 4 / 5 / 5 / 9;
            }
        }

        //txt
        &1,
        &4,
        &5,
        &8 {
            .Txt {
                top: 0;
                bottom: initial;
                padding-top: 35px;
                @include media(1080) {
                    top: initial;
                    padding: 15px;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    text-align: center;
                }
                @include media(480) {
                    padding: 0 0 15px;
                }
            }
        }

        &2,
        &3,
        &6,
        &7 {
            .Txt {
                padding: 35px;
                text-align: center;
                left: 50%;
                transform: translateX(-50%);
                @include media(1080) {
                    padding: 15px;
                }
                @include media(480) {
                    padding: 0 0 15px;
                }
                .titleEn {
                    color: #606060;
                }
                .title {
                    color: #606060;
                }
            }
        }

        &3 {
            .Txt {
                .titleEn {
                    color: #fff;
                }
                .title {
                    color: #fff;
                }
            }
        }
    }
}
